@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
:root
{
    --whiteText: rgb(212, 212, 212);
    --photoDesc: rgb(241, 241, 241);
    font-size: 16px;
    background-color: var(--whiteText);
}
body
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.banner
{
    background-image: url("photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: auto;
    width: 700px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo
{
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    color: var(--whiteText);
    fill: rgb(212, 212, 212);
}
.logoSVG
{
    height: 70px;
    width: 70px;
}
.logoName
{
    font-family: 'Black Ops One', cursive;
    font-weight: 500;
    font-size: 2.5rem;
}
#photoDescription
{
    margin-bottom: 10%;
    color: var(--photoDesc);
    text-align: center;
}
.bannerLink:hover, .bannerLink:visited, .bannerLink
{
    color: var(--photoDesc);
}

.bannerLink
{
    text-decoration: underline;
}
.bannerLink:hover
{
    text-decoration: none;
}
.bannerLink:visited
{
    text-decoration: underline;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainDescriptionText
{
    padding: 10px 30px;
    width: 80%;
    font-size: 1.4rem;
}
.mainDescription
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainDescription+p+p
{
    margin-top: 10px;
}
.form
{
    padding: 30px 30px;
    background-color: white;
    width: auto;
    margin: 20px 0px;
}
h3
{
    margin: 0px 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: normal;
}
.questions
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    margin-left: 10px;
}
.question
{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.submitButton
{
    width: 20%;
    height: 5%;
    align-self: flex-start;
    margin-left: 30px;
}
.loginText
{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 1.1rem;
}